.carrousel {
  position: relative;
  height: 415px;
  margin-bottom: 30px;

  &__image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 25px;
  }

  &__arrow {
    position: absolute;
    height: 79px;
    bottom: 168px;
  }

  &__arrow-left {
    left: 23px;
  }

  &__arrow-right {
    right: 23px;
  }

  &__indicator {
    position: absolute;
    bottom: 25px;
    left: 50%;
    color: white;

    p {
      font-size: 18px;
    }
  }
}

@media (max-width: 767.98px) {
  .carrousel {
    height: 255px;
    margin-bottom: 15px;
  
  &__arrow {
    height: 20px;
    bottom: 117px;
  }

  &__indicator {
    visibility: hidden;
  }
}
}
