.banner {
  height: 223px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  &__img {
    position: absolute;
    background-position: 50% 50%;
    background-size: cover;
    filter: brightness(40%);
    width: 100%;
    height: 100%;
    border-radius: 25px;
  }

  &__content {
    position: absolute;
    font-size: 48px;
    color: white;
  }
}
