@import "../variables.scss";

.collapse {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 50px;

  &__content-title {
    background: $main-color;
    width: 80%;
    height: 52px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    padding-left: 15px;
    color: white;

    img {
      width: 24px;
      margin-right: 24px;
      cursor: pointer;
      transition: transform 0.3s ease;
    }
  }

  &__content-text {
    padding-top: 0px;
    padding-bottom: 0px;
    display: flex;
    justify-content: center;
    width: 80%;
    background: #fbfbfb;
    padding-left: 20px;
    flex-wrap: wrap;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease, padding 0.3s ease;

    p {
      font-weight: 400;
    }
  }
}

.open {
  .collapse__content-text {
    max-height: 200px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .collapse__content-title img {
    transform: rotate(-180deg);
  }
}
