.footer {
  background: black;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 29px;
  padding-top: 66px;
  padding-bottom: 29px;

  img {
    height: 40px;
  }

  p {
    color: white;
    font-weight: 400;
    padding-top: 10px;
  }
}

@media (max-width: 767.98px) {
  .footer {
    padding-bottom: 58px;
    gap: 0;

    &__p {
      width: 133px;
      font-size: 13px;
      text-align: center;
      display: flex;
      align-items: center;
    }
  }
}
