@import "../utilities/variables";

.error {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  &__title {
    font-size: 288px;
    color: $main-color;
    font-weight: 700;
  }

  &__text {
    color: $main-color;
    font-size: 36px;
    padding-top: 60px;
  }

  &__return {
    font-size: 18px;
    margin-top: 139px;
    margin-bottom: 139px;
    text-decoration: none;
    color: black;
    text-decoration: underline;
  }
}

@media (max-width: 767.98px) {
  .error {
    &__title {
      font-size: 96px;
      margin-top: 86px;
      margin-bottom: 113px;
    }

    &__text {
      font-size: 18px;
      text-align: center;
      width: 260px;
      margin-bottom: 113px;
      padding-top: 0;
    }

    &__return {
      font-size: 14px;
      margin-top: 0;
      margin-bottom: 86px;
    }
  }
}
